@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<script>
    //var b;

    //var a = {

    //    name: 'onepixel', //定义a的属性

    //    say: function () { //定义a的方法
    //        console.log("Hi,I'm function a!");
    //    }
    //};

    //b.call(a, function(name) {
    //    console.log("Post params: " + name);
    //    console.log("I'm " + this.name);
    //    this.say();
    //});

    var arr = [2, 3, 1, 5, 4];
    arr.forEach(function (item) {
        console.log(item);
    })

</script>
